* {

    box-sizing: border-box;    
    margin:0;    
    padding:0;    
    }
    
    
    
    body{
    
        background-color: rgb(58, 57, 57);  
         
    }
    
    
    /* Header */
    
    .header{
    
        background: url('https://images.unsplash.com/photo-1517400508447-f8dd518b86db?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1400&h=800&fit=crop&ixid=eyJhcHBfaWQiOjF9') no-repeat fixed center;        
        background-image: 'https://images.unsplash.com/photo-1517400508447-f8dd518b86db?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1400&h=800&fit=crop&ixid=eyJhcHBfaWQiOjF9';        
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        box-sizing: border-box;        
        display: flex;        
        flex-wrap: wrap; 
        height: 800px;        
        justify-content: center;        
        padding:50px 150px;        
        width:100%;
                
        }
        
               
        .header-menu {
        
        align-content: space-around; 
        flex-direction: row;       
        display:flex;        
        height: 60px;        
        justify-content:flex-end;
        text-decoration: none;
        width: 90%;
                       
        }

         .head-menu nav ul{
             display: flex;
             flex-direction: row;
             justify-content: flex-end;
             
         }     

         .head-menu nav ul li{
            padding-right: 10px;
            list-style:none;
            font-size: 20px;
            
        }

         .head-menu a{
             text-decoration:none;
             color: white;
             width: 70%;
             margin:5px;        
             padding: 1px 5px;
         }

         .head-menu a:hover{
            border: 1.5px solid white;
            padding:10px;                    
            text-shadow:2px 2px 4px #c7c5c5;
            border-radius: 0.5em/0.5em;
            -webkit-border-radius: 0.5em/0.5em;
            -moz-border-radius: 0.5em/0.5em;
            -ms-border-radius: 0.5em/0.5em;
            -o-border-radius: 0.5em/0.5em;
         }
        
        
        .logo{

        width:80%;
        color: white;
        font-size: 20px;
        
        }
        
        
        .input-form{        
        align-self: baseline;        
        display:flex;        
        flex-wrap: wrap;        
        flex-direction: column;        
        justify-content: center;        
        margin:0;        
        padding:0;        
        }
        
                
        .input-form p{

        color:white;        
        display: flex;        
        font-size: 1.5em;        
        justify-content: center;        
        text-shadow:2px 2px 4px #000000;        
        }
             
        .inline{

        background-color: white !important;        
        display:inline;        
        padding: 0px 0px;        
               
        }
        
                
        .input-form button{

        background-color: rgb(163, 36, 36);        
        color:white;        
        height: 100%;        
        margin:0px;        
        padding : 0px 6px;        
        }
        
        
        
        .inline input[type='text']{ 

        border:0;        
        font-size: 1em;        
        height:50px;        
        margin:0px;        
        margin-left:3px;        
        padding:0;
                }
        
               
        .inline span{ 

        color:#696969;        
        padding:10px;        
        }
               
        /* Flecha para volver a inicio */
        
        .up{

        background-color: rgb(163, 36, 36);        
        border-radius: 0.5em/0.5em;        
        bottom:30px;        
        position: fixed;        
        right:30px; 
        }
        
        .up i{
        
        color:white;        
        padding:3px 8px 3px 8px;        
        text-align: center;                
        }
               
        
        .up:hover{
        
        background-color: red;        
        }
   
        /* HOTELES */
               
        
        .hoteles{
        
        align-items: center;        
        background-color: rgb(233, 230, 230);        
        display: flex;        
        flex-direction: column;      
        height: 700px;
        }
        
               
        .lista-hoteles{

        align-self: center;
        Justify-content: space-around;        
        display: flex;        
        flex-flow: row wrap;        
        
        }
        
        .hoteles .titulo{
        
        font-size: 4em;        
        margin-top: 30px;        
        }
        
               
        .hotel{
        
        border:1px solid rgba(194, 185, 185, 0.8);        
        border-radius: 0.5em/0.5em;        
        display:flex;        
        flex-direction: column;        
        justify-content: center;        
        padding: 10px 0px;       
        width:22%;
        }
        
        
        .hotel:hover{
        
        box-shadow:2px 2px 4px black;        
        }
        
        
        .hotel img{
        
        height: 250px;        
        width:100%;        
        }
        
                
        .hotel h3{
        
        font-size: 1.4em;        
        font-weight: bold;        
        text-align: center;        
        }
        
                
        .hotel p{
        
        padding:25px;        
        text-align: justify;
        font-family: 'Lato', Tahoma, Sans-Serif;        
        }
                
        
        .hotel .more-info{
        
        background-color: rgb(255, 88, 88,0.2);        
        border-radius: 0.5em/0.5em;        
        color:rgb(247, 36, 36);        
        margin-left:25px;        
        padding:10px;        
        text-align: center;        
        width:65%;        
        }    
        
        /*  VUELOS */
        
        .vuelos{
        
        align-items: center;        
        background: url('https://images.unsplash.com/photo-1558285549-827043e3d8a8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1400&h=800&fit=crop&ixid=eyJhcHBfaWQiOjF9') no-repeat fixed center;        
        background-image: 'https://images.unsplash.com/photo-1558285549-827043e3d8a8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1400&h=800&fit=crop&ixid=eyJhcHBfaWQiOjF9';       
        background-size: cover;        
        display: flex;        
        flex-direction: column;        
        height: 1300px;        
        }
        
               
        .vuelos .titulo-vuelos{        
        color:white;        
        font-family: 'Righteous';        
        font-size: 4em;         
        font-weight: bold;        
        margin-top: 28px;        
              
        }
        
                
        .lista-vuelos{        
        align-self: center;        
        display: flex;        
        flex-flow: row wrap;        
        justify-content: space-around;        
        }
               
        
        .vuelo{ 
        
        background-color: white;        
        border:1px solid rgb(234, 234, 234,0.8);        
        border-radius: 0.5em/0.5em;        
        display:flex;        
        flex-direction: column;        
        justify-content: center;        
        margin-top:30px;        
        margin-right: 20px;        
        padding: 10px 0px;        
        width:25%;        
        }
        
               
        .vuelo img{
        
        height: 265px;        
        width:100%;        
        }
        
               
        .vuelo h3{        
        font-size: 1.4em;        
        font-weight: bold;        
        text-align: center;        
        }
        
              
        .vuelo .more-info{        
        background-color: rgb(255, 88, 88,0.2);        
        border-radius: 0.5em/0.5em;        
        color:rgb(247, 36, 36);         
        margin-left:25px;        
        padding:10px;        
        text-align: center;        
        width:60%;        
        }
        
                
        .vuelo p{    

        padding:25px;        
        text-align: justify;
        font-family: 'Lato', Tahoma, Sans-Serif;        
        }
               
        
        .vuelo:hover{

        box-shadow:2px 2px 4px black;        
        }
        
        
        
        /* CONTACTO */
        
            
        
        .contacto{
        
        background: url('https://images.unsplash.com/photo-1534536281715-e28d76689b4d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1100&h=800&fit=crop&ixid=eyJhcHBfaWQiOjF9') no-repeat fixed center;        
        background-image: 'https://images.unsplash.com/photo-1534536281715-e28d76689b4d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1100&h=800&fit=crop&ixid=eyJhcHBfaWQiOjF9';
        background-size: cover;        
        display: flex;        
        flex-direction: column;        
        height:650px;        
        width:100%;        
        align-items: center;        
        }
        
                
        .contacto .titulo{
        
        color:white;        
        font-family: 'Righteous';        
        font-size: 4em;         
        font-weight: bold;        
        margin-top: 30px;        
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;        
        }
        
                
        .contacto .contact-form{        
        
        background-color: white;   
        padding:30px;        
        width:60%;   
        }
        
               
        .form-input{

        display:flex;        
        flex-direction: column;
        }
       
        
        .form-input input{
        
        width:100%;        
        height: 40px;        
        margin-top:10px;        
        margin-bottom: 10px;        
        }
        
                
        .form-input label{ 

        font-weight: bold;        
        }
        
        
        .form-input button{
        
        width: 100%;        
        background-color: rgb(163, 36, 36);        
        color:white;        
        height: 40px;        
        }
        
                
        .form-input button:hover{
        
        background-color:red;        
        }
        